* {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Josefin Sans";
  width: 100vw;
  height: 100vh;
  margin: unset;
  scroll-behavior: smooth;
}

.slider-container {
  background-color: #fff;
  border: 1px solid #99c9e5;
  border-radius: 20px;
  height: 146px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.carousel {
 width: 70%;
}
.slider-ass {
 color:black;
 font-size: 18px;
 position: absolute;
 right: 10px;
 bottom: 10px;
}

.slider-text {
  color:black;
  font-size: 30px;
}

footer {
  background: #99c9e5;
  height: auto;
  width: 100vw;
  color: #fff;
}
